# String data type in python

In [3]:
message : str = "PIAIC Student Card \n Father's Name"
print(message)

PIAIC Student Card
 Father's Name

In [4]:
# convert any specail character into simple character, place \ before character
message : str = 'PIAIC Student Card \n Father\'s Name'
print(message)

PIAIC Student Card
 Father's Name

In [5]:
"a" + "b" + "c"

'abc'

In [13]:
# boundries
# 'string', "string", '''string''', """string"""
# `` not working in pyton

name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge: " + str(age) + "\nEducation: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Age: 23
Education: Master in data science

In [11]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = "PIAIC Student Card\nStudent Name: " + name +\
      "\nAge: " + str(age) + "\n" +\
      "Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Age: 23
Education: Master in data science

## Define multiline string """ """ , ''' '''

In [17]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = """ 
PIAIC Student Card
Student Name: ...
Father's Name: ...
Education: ...
Age: ...

"""

print(card)

PIAIC Student Card
Student Name: ...
Father's Name: ...
Education: ...
Age: ...

# F-string python

In [18]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = f""" 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Education: {education}
Age: {age}

"""

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Father's Name: Shabbir Ahmed
Education: Master in data science
Age: 23

In [19]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = f""" 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Education: {education}
Age: {age}

Total: {6 + 9 + 2}

"""

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Father's Name: Shabbir Ahmed
Education: Master in data science
Age: 23

Total: 17

# F-string and jinja style

In [21]:
f"""
student name {name}
"""

'\nstudent name Muhammad Hamza\n'

In [22]:
#jinja style
"""
student name {{name}}

"""

'\nstudent name {{name}}\n\n'

In [5]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = f""" 
PIAIC Student Card
Student Name: %s
Father's Name: %s
Education: %s
Age: %d

""" % {name, fname, education, age}

print(card)

TypeError: not enough arguments for format string

In [6]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
a = 7
b = 9

# {} place holder
#               0                1              0 1
"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 9'

In [9]:
name : str = "MuHaMmad HaMzA"
print(name.capitalize())
print(name.lower())

Muhammad hamza
muhammad hamza

In [11]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = """ 
PIAIC Student Card
Student Name: {}
Father's Name: {}
Education: {}
Age: {}

""".format(name, fname, education, age)

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Father's Name: Shabbir Ahmed
Education: Master in data science
Age: 23

In [13]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = """ 
PIAIC Student Card
Student Name: {1}
Father's Name: {0}
Education: {3}
Age: {2}

""".format(fname, name, age, education)
#            0      1     2     3

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Father's Name: Shabbir Ahmed
Education: Master in data science
Age: 23

In [14]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = """ 
PIAIC Student Card
Student Name: {a}
Father's Name: {b}
Education: {c}
Age: {d}

""".format(a=name, b=fname, c=education, d=age)

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Father's Name: Shabbir Ahmed
Education: Master in data science
Age: 23

# Recomended

In [15]:
name : str = "Muhammad Hamza"
fname : str = "Shabbir Ahmed"
education : str = "Master in data science"
age : int = 23

card : str = f""" 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Education: {education}
Age: {age}

Total: {6 + 9 + 2}

"""

print(card)

PIAIC Student Card
Student Name: Muhammad Hamza
Father's Name: Shabbir Ahmed
Education: Master in data science
Age: 23

Total: 17

In [17]:
student_code : str = """
print("My Name Is Muhammad Hamza")
a : int = 5
b : int = 9
print(a + b)
"""

exec(student_code)

My Name Is Muhammad Hamza
14

# Explore string methods and attributes

pre-define global functions we have used
* print
* type
* id
* dir
* len

In [19]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [20]:
name : str = "MuHaMmad HaMza"

# variablr_name.method()
print(name.capitalize())

Muhammad hamza

In [21]:
name : str = "MuHaMmad HaMza"

# variablr_name.method()
print(name)
print(name.casefold())

MuHaMmad HaMza
muhammad hamza

In [22]:
name : str = "       MuHaMmad HaMza      "

# variablr_name.method()
display(name)
display(name.lstrip())

'       MuHaMmad HaMza      '

'MuHaMmad HaMza      '

In [23]:
name : str = "       MuHaMmad HaMza      "

# variablr_name.method()
display(name)
display(name.strip())

'       MuHaMmad HaMza      '

'MuHaMmad HaMza'

In [24]:
name : str = "       MuHaMmad     HaMza      "

# variablr_name.method()
display(name)
display(name.strip())

'       MuHaMmad     HaMza      '

'MuHaMmad     HaMza'

In [25]:
import re

name : str = "       MuHaMmad     HaMza      "

# variablr_name.method()
display(name)

name1 : str = re.sub(' {2,100}',' ', name)
display(name1)

'       MuHaMmad     HaMza      '

' MuHaMmad HaMza '

In [26]:
import re

name : str = "       MuHaMmad     HaMza      "

# variablr_name.method()
display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'       MuHaMmad     HaMza      '

'MuHaMmad HaMza'

In [28]:
name : str = "MuHaMmad HaMza"

# variablr_name.method()
display(name)
display(name.title())

'MuHaMmad HaMza'

'Muhammad Hamza'