# List

* iteration operation with loop
* apply any operation on elemrnt

In [1]:
names : list[str] = ['Sir Zia','Sir Qasim','Sir Hamzah']
print(names)

['Sir Zia', 'Sir Qasim', 'Sir Hamzah']

In [2]:
names : list[str] = ['Sir Zia','Sir Qasim','Sir Hamzah']

for name in names:
    print(name)

Sir Zia
Sir Qasim
Sir Hamzah

In [4]:
for name in names:
    print(f'Welcome dear teachers {name.title()}')

Welcome dear teachers Sir Zia
Welcome dear teachers Sir Qasim
Welcome dear teachers Sir Hamzah

In [6]:
for name in names:
    print(f'Welcome dear teachers {name.title()}')
    print("Gen Ai Team\n")

Welcome dear teachers Sir Zia
Gen Ai Team

Welcome dear teachers Sir Qasim
Gen Ai Team

Welcome dear teachers Sir Hamzah
Gen Ai Team

In [7]:
for name in names:
    print(f'Welcome dear teachers {name.title()}')
    print("Gen Ai Team\n")

print("Pakistan zinda bad")

Welcome dear teachers Sir Zia
Gen Ai Team

Welcome dear teachers Sir Qasim
Gen Ai Team

Welcome dear teachers Sir Hamzah
Gen Ai Team

Pakistan zinda bad

In [2]:
names : list[str] = ['Sir Zia','Sir Qasim','Sir Hamzah']
for name in names[0:2] :
    print(f'Welcome dear teacher {name.title()}')
    print("Gen Ai Team\n")

Welcome dear teacher Sir Zia
Gen Ai Team

Welcome dear teacher Sir Qasim
Gen Ai Team

In [4]:

data_base : list[tuple[str,str]] = [("Hamza", '123'),
                                     ("Azan", '456'),
                                     ("Hamid", '789')]

for row in data_base:
    print(row)

('Hamza', '123')
('Azan', '456')
('Hamid', '789')

In [5]:

data_base : list[tuple[str,str]] = [("Hamza", '123'),
                                     ("Azan", '456'),
                                     ("Hamid", '789')]

for row in data_base:
    user,password = row
    print(user,password)

Hamza 123
Azan 456
Hamid 789

In [12]:

data_base : list[tuple[str,str]] = [("Hamza", '123'),
                                     ("Azan", '456'),
                                     ("Hamid", '789')]

input_user : str = input("Enter your name")
input_password : str = input("Enter your password")

for row in data_base:
    user,password = row
    if input_user == user and input_password == password:
     print("valid user")
    break

In [2]:

data_base : list[tuple[str,str]] = [("Hamza", '123'),
                                     ("Azan", '456'),
                                     ("Hamid", '789')]

input_user : str = input("Enter your name")
input_password : str = input("Enter your password")

for row in data_base:
    user,password = row
    if input_user == user and input_password == password:
     print(f'''valid user {user},{password}''')
    break

else:
    print("Invalid")

valid user Hamza,123

In [7]:
#            0       1      2        3
friends = ["Hamza","Azan","Hamid","Kamran"]

list(enumerate(friends))

[(0, 'Hamza'), (1, 'Azan'), (2, 'Hamid'), (3, 'Kamran')]

In [8]:
#            0       1      2        3
friends = ["Hamza","Azan","Hamid","Kamran"]

for index,name in enumerate(friends):
    print(index,name)

0 Hamza
1 Azan
2 Hamid
3 Kamran

# Numbers with loop
 * `range (start,end,step)`

In [3]:
range(10)

range(0, 10)

In [4]:
list(range(10)) # starting = 0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(2,10)) # starting = 0, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(2,21,2)) # starting = 0, ending = n-1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [11]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [12]:
squares : list[int] = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive
```
for item in items_list:
    lopp_body
```

### Comprehensive Style
```
lopp_body for item in items_list
```

In [13]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Tupples (immutable)

In [14]:
names : tuple[str] = ['A', 'B', 'C']
print(names[0])
print(names[0:2])

A
['A', 'B']

In [17]:
names : tuple[str] = ('A', 'B', 'C')
names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [19]:
names : tuple[str] = ('A', 'B', 'C')
names : tuple[str] = ('Pak', 'B', 'C')

print(names)

('Pak', 'B', 'C')

In [21]:
from typing import Any

data : tuple[Any] = ("A", [1,2,3], True)
print(data)

('A', [1, 2, 3], True)

In [ ]:
from typing import Any

data : tuple[Any] = ("A", [1,2,3], True)
print(data)