In [2]:
%pip install pandera

Collecting pandera
  Obtaining dependency information for pandera from https://files.pythonhosted.org/packages/04/f8/e00c7a27b5a7c13bc51baa8f75f4c55d8fa2549ff96402699ac56b864d6d/pandera-0.17.2-py3-none-any.whl.metadata
  Downloading pandera-0.17.2-py3-none-any.whl.metadata (15 kB)
Collecting multimethod (from pandera)
  Obtaining dependency information for multimethod from https://files.pythonhosted.org/packages/7f/bd/750245e47e7f307d9f94d4fa84727f4ed9956005dfa671d58be1d531a0f6/multimethod-1.10-py3-none-any.whl.metadata
  Downloading multimethod-1.10-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.19.0 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from pandera) (1.26.1)
Requirement already satisfied: packaging>=20.0 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from pandera) (23.2)
Requirement already satisfied: pandas>=1.2.0 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from pandera) (2.1.1)
Collecting pydantic (from pandera)
  Obtaining dependency information for pydantic from https://files.pythonhosted.org/packages/73/66/0a72c9fcde42e5650c8d8d5c5c1873b9a3893018020c77ca8eb62708b923/pydantic-2.4.2-py3-none-any.whl.metadata
  Downloading pydantic-2.4.2-py3-none-any.whl.metadata (158 kB)
     ---------------------------------------- 0.0/158.6 kB ? eta -:--:--
     ------- ----------------------------- 30.7/158.6 kB 660.6 kB/s eta 0:00:01
     ---------------- -------------------- 71.7/158.6 kB 653.6 kB/s eta 0:00:01
     ----------------------- ------------ 102.4/158.6 kB 845.5 kB/s eta 0:00:01
     ------------------------------------ 158.6/158.6 kB 789.4 kB/s eta 0:00:00
Collecting typeguard>=3.0.2 (from pandera)
  Obtaining dependency information for typeguard>=3.0.2 from https://files.pythonhosted.org/packages/18/01/5fc45558268ced46d86292763477996a3cdd505567cd590a688e8cdc386e/typeguard-4.1.5-py3-none-any.whl.metadata
  Downloading typeguard-4.1.5-py3-none-any.whl.metadata (3.7 kB)
Collecting typing-inspect>=0.6.0 (from pandera)
  Obtaining dependency information for typing-inspect>=0.6.0 from https://files.pythonhosted.org/packages/65/f3/107a22063bf27bdccf2024833d3445f4eea42b2e598abfbd46f6a63b6cb0/typing_inspect-0.9.0-py3-none-any.whl.metadata
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Collecting wrapt (from pandera)
  Downloading wrapt-1.15.0-py3-none-any.whl (22 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from typing-inspect>=0.6.0->pandera) (4.8.0)
Collecting annotated-types>=0.4.0 (from pydantic->pandera)
  Obtaining dependency information for annotated-types>=0.4.0 from https://files.pythonhosted.org/packages/28/78/d31230046e58c207284c6b2c4e8d96e6d3cb4e52354721b944d3e1ee4aa5/annotated_types-0.6.0-py3-none-any.whl.metadata
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.10.1 (from pydantic->pandera)
  Obtaining dependency information for pydantic-core==2.10.1 from https://files.pythonhosted.org/packages/a4/5e/f8436267bb9a35099a75237325107beb640a5a8c8b718492381e9b836719/pydantic_core-2.10.1-cp312-none-win_amd64.whl.metadata
  Downloading pydantic_core-2.10.1-cp312-none-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\hcc\anaconda3\envs\python12\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)
Downloading pandera-0.17.2-py3-none-any.whl (203 kB)
   ---------------------------------------- 0.0/203.4 kB ? eta -:--:--
   ------------ --------------------------- 61.4/203.4 kB 1.1 MB/s eta 0:00:01
   ------------------------ --------------- 122.9/203.4 kB 1.2 MB/s eta 0:00:01
   ---------------------------------- ----- 174.1/203.4 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 203.4/203.4 kB 1.0 MB/s eta 0:00:00
Downloading typeguard-4.1.5-py3-none-any.whl (34 kB)
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Downloading pydantic-2.4.2-py3-none-any.whl (395 kB)
   ---------------------------------------- 0.0/395.8 kB ? eta -:--:--
   --------- ------------------------------ 92.2/395.8 kB 2.6 MB/s eta 0:00:01
   --------------- ------------------------ 153.6/395.8 kB 1.8 MB/s eta 0:00:01
   ----------------- ---------------------- 174.1/395.8 kB 2.1 MB/s eta 0:00:01
   --------------------------- ------------ 276.5/395.8 kB 1.7 MB/s eta 0:00:01
   -------------------------------- ------- 317.4/395.8 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------  389.1/395.8 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 395.8/395.8 kB 1.3 MB/s eta 0:00:00
Downloading pydantic_core-2.10.1-cp312-none-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.0 MB 1.7 MB/s eta 0:00:02
   -- ------------------------------------- 0.1/2.0 MB 1.4 MB/s eta 0:00:02
   ---- ----------------------------------- 0.2/2.0 MB 1.4 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.0 MB 1.6 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.0 MB 1.6 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.0 MB 1.7 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/2.0 MB 1.7 MB/s eta 0:00:01
   -------------- ------------------------- 0.7/2.0 MB 1.8 MB/s eta 0:00:01
   ---------------- ----------------------- 0.8/2.0 MB 1.8 MB/s eta 0:00:01
   ------------------ --------------------- 0.9/2.0 MB 1.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.0 MB 1.8 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.0 MB 1.8 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.0 MB 1.8 MB/s eta 0:00:01
   -------------------------- ------------- 1.3/2.0 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.0 MB 1.9 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.0 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 1.7/2.0 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.0 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.0 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 2.0 MB/s eta 0:00:00
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Installing collected packages: wrapt, typing-inspect, typeguard, pydantic-core, multimethod, annotated-types, pydantic, pandera
Successfully installed annotated-types-0.6.0 multimethod-1.10 pandera-0.17.2 pydantic-2.4.2 pydantic-core-2.10.1 typeguard-4.1.5 typing-inspect-0.9.0 wrapt-1.15.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import pandera as pa

# Pandas core component
* Series types
* DataFrame types

In [2]:
s1 : pd.Series = pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
s1 : pd.Series = pd.Series({1,2,3,4})
s1

TypeError: 'set' type is unordered

In [4]:
s1 : pd.Series = pd.Series((1,2,3,4))
s1

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
s1 : pd.Series = pd.Series({"a": 10,
                            "b": 20,
                            "c": 30,
                            "d": 40,
                            "e": 50,
                            "f": 60,})

s1

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [7]:
values : list[int] = [1,2,3,4,5]

index1 :list[str] = ["a", "b", "c", "d", "e"]

s1 : pd.Series = pd.Series(values, index=index1)
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
values : list[int] = [1,2,3,4,5]

index1 :list[list[str]] = [["a1", "a1", "a1", "b1", "b1"],
                           ["a", "b", "c", "d", "e"]]

s1 : pd.Series = pd.Series(values, index=index1)
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
dtype: int64

# DataFrame

In [3]:
import pandas as pd
import pandera as pa

# key
# values: iterable
# length should be same as length of others series

s1 : pd.Series = pd.Series([1,2,3,4,5], name="Student id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="Student score")
s3 : pd.Series = pd.Series(["Hamza","Azan","Hamid","Kamran","Masood"], name="Student name")

df1 : pd.DataFrame = pd.DataFrame({"Student id":s1, "Student score":s2, "Student name":s3})

df1

   Student id  Student score Student name
0           1             10        Hamza
1           2             20         Azan
2           3             30        Hamid
3           4             40       Kamran
4           5             50       Masood

In [4]:
import pandas as pd
import pandera as pa

s1 : pd.Series = pd.Series([1,2,3,4,5], name="Student id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="Student score")
s3 : pd.Series = pd.Series(["Hamza","Azan","Hamid","Kamran","Masood"], name="Student name")

df1 : pd.DataFrame = pd.DataFrame([s1,s2,s3])

df1

                   0     1      2       3       4
Student id         1     2      3       4       5
Student score     10    20     30      40      50
Student name   Hamza  Azan  Hamid  Kamran  Masood

In [6]:
import pandas as pd
import pandera as pa

s1 : pd.Series = pd.Series([1,2,3,4,5], name="Student id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="Student score")
s3 : pd.Series = pd.Series(["Hamza","Azan","Hamid","Kamran","Masood"], name="Student name")

df1 : pd.DataFrame = pd.concat([s1,s2,s3], axis=1)

df1

   Student id  Student score Student name
0           1             10        Hamza
1           2             20         Azan
2           3             30        Hamid
3           4             40       Kamran
4           5             50       Masood

In [7]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=['A','B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=['A','B','C'], index=['x','y','z'])
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [10]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [11]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [12]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [19]:
from nptyping import NDArray, Shape
from typing import Any
import numpy as np

data : NDArray[Shape["Size,Size"],Any] = np.arange(10*10).reshape(10,10)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [2]:
from nptyping import NDArray, Shape
from typing import Any
import numpy as np
import pandas as pd


data : NDArray[Shape["Size,Size"],Any] = np.arange(10*10).reshape(10,10)
df : pd.DataFrame = pd.DataFrame(data, columns=list("ABCDEFGHIJ"))
df

    A   B   C   D   E   F   G   H   I   J
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

# Slicing and indexing
* series_variable[inex]
* dataFrame
    * loc
    * iloc
    * at
    * iat

In [3]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)

print("Applying slicing")
display(s1[1])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying slicing

2

In [4]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)

print("Applying slicing")
display(s1[1:4])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying slicing

1    2
2    3
3    4
dtype: int64

In [2]:
from nptyping import NDArray, Shape
from typing import Any
import numpy as np
import pandas as pd

In [4]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)

print("Applying slicing")
display(s1.loc["a":"d"])

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying slicing

a    1
b    2
c    3
d    4
dtype: int64